html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --theme-ui-colors-text: #000;
  --theme-ui-colors-background: #8CC051;
  --theme-ui-colors-primary: #8CC051;
  --theme-ui-colors-secondary: 	#8551C0;
  --theme-ui-colors-muted: #f6f6ff;
  --theme-ui-colors-gray: #242424;
  --theme-ui-colors-highlight: hsla(205, 100%, 40%, 0.125);
  --theme-ui-colors-accent: #f0a;
  --theme-ui-colors-lightgray: #cfcfd3;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

header{
  background-color: var(--theme-ui-colors-gray);
}

header a{
  text-decoration: none;
  color:var(--theme-ui-colors-primary)
}

header a:hover .Bam {
  color: var(--theme-ui-colors-primary);
  transition: ease 0.2s;
}

.switch{
  fill:#f6f6ff;
  cursor: pointer;
}

footer {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  padding-top: 64px;
  padding-bottom: 64px;
  color: var(--theme-ui-colors-background, #fff);
  background-color: var(--theme-ui-colors-gray);
}

footer a{
  color:var(--theme-ui-colors-muted);
  text-decoration: none;
  font-weight: 600;
  padding: 10px;
}

footer a:hover{
  color: var(--theme-ui-colors-background);
}

.insideFooter {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
